body {
	background-color: #f7f7f7;
}

p {
	font-size: 20px;
}

h4 {
    font-weight: bold;
}

.container {
    height: 100%;
}

.main-nav {
    height: 48px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    margin-bottom: 7%;
    line-height: 48px;
    padding: 0 20px;
}

.nav-menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu li > a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: bold;
    padding: 0 15px;
    transition: all ease-in-out 300ms;
}

.nav-menu li > a:hover {
    color: #ba212e;
}

.nav-menu li.close {
    display: none;
    cursor: pointer;
}

.mobile-btn {
    display: none;
    float: right;
    cursor: pointer;
}

.jumbo {
	text-align: center;
    padding: 10px 10px 20px 10px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.jumbo li {
    display: inline-block;
    list-style: none;
    margin: 1%;
}

.jumbo li a{
    color: #1c1c1c;
    text-decoration: none;
    font-size: 50px;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}

.jumbo li a:hover{
    color: #ba212e;
    
}

.profile-img{
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#mailForm {
	padding-top: 10px;
}

@media (max-width: 768px) {
    .nav-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background-color: #1c1c1c;
        width: 40%;
        height: 100%;
        z-index: 3;
        transform: translateX(100%);
        transition: all ease-in-out 250ms;
    }

    .nav-menu.open {
        transform: translateX(0);
    }

    .nav-menu li {
        display: block;
        padding: 0 14px;
    }

    .nav-menu li > a {
        color: #f7f7f7;
        transition: all ease 300ms;
    }

    .nav-menu li.close {
        display: block;
        text-align: right;
    }

    .mobile-btn {
        display: inline-block;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0, .4);
        opacity: 0;
        z-index: -1;
        transition: opacity 100ms linear;
    }

    .overlay.open {
        z-index: 1;
        opacity: 1;
    }
}
