{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="column column-80 column-offset-10">
			<h4>Personal Details: </h4>
			<p>I'm Ale Spreafico, from Italy. I studied IT in University of Milan.</p>
			<p>I always been passionate about coding, and I really love to dive myself into new challanges and powerfull technologies.</p>
			<hr>
			<h4>Skills:</h4>
			<ul>
				<li>HTML5, CSS3(including flex-box, and frameworks for example <a href="">Bootstrap</a> and <a href="">Milligram</a>).</li>
				<li>JS/ES6(JQuery, NodeJS, React/Redux and GulpJS for automate development).</li>
				<li>PHP and Wordpress.</li>
				<li>Python for WebDevelopment(Flask and Django) and as a general purpose coding language.</li>
			</ul>
			<p></p>
		</div>
	</div>
{% endblock %}