{% extends "layout.html" %}
  
{% block content %}
	<div class="row">
		<div id="mailForm" class="column column-60 column-offset-20">
			<h2>Contact Me!</h2>

		  	<form action="{{ url_for('contact') }}" method=post>

			    	{{ form.hidden_tag() }}
			 
			    	{{ form.name.label }}
			    	{{ form.name }}
			    	{% for message in form.name.errors %}
					{% endfor %}
			 
			    	{{ form.email.label }}
			    	{{ form.email }}
			    	{% for message in form.email.errors %}
					{% endfor %}
			 
			    	{{ form.subject.label }}
			    	{{ form.subject }}
			    	{% for message in form.subject.errors %}
					{% endfor %}
			 
			    	{{ form.message.label }}
			    	{{ form.message }}
			    	{% for message in form.message.errors %}
					{% endfor %}
			 
			    	{{ form.submit(class_="button button-outline") }}
		  	</form>
		</div>
	</div>
{% endblock %}