{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="column column-80 column-offset-10">
			<div class="jumbo">
				<img src="static/img/profile_white.png" class="profile-img"></img>
    			<h2>Howdy!!<h2>
    			<h3>My name is Ale Spreafico<h3>
    			<p>
    				I'm a Freelance Web-Developer always seeking for new ideas to build!
    			</p>
    			<hr>
    			<ul>
        			<li>
        				<a href="https://github.com/AleSpreafico" target="_blank"><i class="fab fa-github"></i></a>
        			</li>
        			<li>
        				<a href="https://www.facebook.com/alessandro.spreafico.75" target="_blank"><i class="fab fa-facebook-square"></i></a>
        			</li><!-- 
        			<li>
        				<a href="#"><i class="fab fa-blogger"></i></a>
        			</li> -->
    			</ul>
  			</div>
		</div>
	</div>
{% endblock %}