<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/milligram-custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Ale Spreafico</title>
</head>
<body>
	<div class="container">
		<nav class="main-nav">
			<ul class="nav-menu">
				<li class="close"><i class="fas fa-times"></i></li>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">ContactMe</a></li>
			</ul>
			<span class="mobile-btn"><i class="fas fa-bars"></i></span>
			<div class="overlay"></div>
		</nav>

				
		{% block content %}
    	{% endblock %}
	</div>
	

	<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>
</html>